@font-face {
font-family: 'din';
src: url('fonts/din.eot')/*tpa=http://thebootstrapthemes.com/live/thebootstrapthemes-realestate/assets/fonts/din.eot*/;
src: url('fonts/din.eot-#iefix')/*tpa=http://thebootstrapthemes.com/live/thebootstrapthemes-realestate/assets/fonts/din.eot?#iefix*/ format('embedded-opentype'), url('fonts/din.woff')/*tpa=http://thebootstrapthemes.com/live/thebootstrapthemes-realestate/assets/fonts/din.woff*/ format('woff'), url('fonts/din.ttf')/*tpa=http://thebootstrapthemes.com/live/thebootstrapthemes-realestate/assets/fonts/din.ttf*/ format('truetype'), url('fonts/din.svg#din')/*tpa=http://thebootstrapthemes.com/live/thebootstrapthemes-realestate/assets/fonts/din.svg#din*/ format('svg');
font-weight: normal;
font-style: normal;
}
#accordion1 li.panel{
    margin-bottom: 0px;
}
body {	color:#000;	font-family: 'Roboto', sans-serif;	font-size: 14px;/* background:url(../images/bgmain.png) tpa=http://thebootstrapthemes.com/live/thebootstrapthemes-realestate/images/bgmain.png*/ #eee;}

h1,h2,h3,h4,h5 { font-weight:normal; margin: 0;padding: 0;color: #fff}
h1{font-size: 60px; color: #fff;}
h2{font-size: 35px; letter-spacing: -1px;}
h3{margin: 0 0 15px 0; font-size: 25px;}
h4{margin: 10px 0; font-size: 19px;}
h5{margin: 0 0 5px 0; font-size: 17px;}
h6{margin: 0 0 10px 0; font-size: 14px;}

h4 span{margin-right: 5px; font-size: 15px;}
h6 span{margin-right: 5px; font-size: 12px;}

ul li {list-style-type: none;}

.sub-menu li a {text-decoration:underline;}
p{margin-bottom: 30px;}
a{color:#d8271b; list-style-type: none; outline: none;}
a:hover{color:#333;}
.spacer{margin-top: 40px;margin-bottom:40px;}
.center{text-align: center;}
.fullwidth{width: 100%;}
select,input{outline: 0;}
a.more{background-color: #222; padding: 2px 6px;color: #fff; font-size: 11px;}
a.more:hover{background: #64a30a;text-decoration: none;}

table{background-color: #fff;}

#slider {width: 100%;}

.btn{border-radius: 5px; font-family: din; outline: none;}
.btn-success{ background: #72b70f;border:1px solid #72b70f;padding:6px 20px; font-size:16px; width: 100%; }
.btn-primary{ background: #64a30a;border:none;width: 100%;border-radius: 20px;}
.btn-info{background: #333;border:4px solid #ddd;padding: 3px 20px; font-size:20px; border-radius: 20px;  }

.thumbnail{ background-color:#fff;}

.header {padding: 20px 0;}
.header ul{list-style: none;margin: 0; padding: 0;margin-top: 25px;}
.header ul li{ display: inline-block; padding: 0 0 0 40px;}
.header ul li a{ font-size: 19px;font-family: din;text-transform: uppercase;}
.header ul li a:hover{text-decoration: none;}

.navbar-inverse{background-color: #fff;}
.navbar-inverse .navbar-nav > li > a{color: #d06059; font-size: 14px;padding-top: 15px;padding-bottom: 15px;font-family: din;}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{background-color: #72b70f;}

.banner-search{background:url(../images/bginside.jpg)/*tpa=http://thebootstrapthemes.com/live/thebootstrapthemes-realestate/images/bginside.jpg*/ #111;color: #fff;padding: 20px 0 10px 0; font-size: 16px;}
.banner-search h3{color: #fff;}


.properties-listing .viewall{margin-top: 15px;}
.properties-listing div.properties{padding: 10px; background-color: #fff;text-align: center; margin-bottom: 20px;}
.owl-wrapper-outer div.properties{margin: 0 5px;}
.properties-listing div.properties .image-holder{position: relative;}
.properties-listing div.properties .status{position: absolute;bottom: 0;z-index: 100;display: block;width: 100%;color: #fff;padding:0 3px;text-align: right; font-size: 12px;}
.properties-listing div.properties p{margin-bottom: 10px; font-size: 14px;border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;padding: 5px 0;font-family: din;}

.listing-detail{margin-bottom: 30px;}
.listing-detail span{color: #fff; width: 25px; height: 25px; background-color: #555;display: inline-block;border-radius:25px; text-align: center;line-height: 26px; font-size: 14px;cursor: crosshair;}
.listing-detail span:hover{background: #72b70f;}

.s-wide {background-color: #004681;}
.s-wide h1 {font-size: 18px; 	padding: 20px 15px;}
.search-cont h1 {
	color: #ffffff;
}
.search-conte h1 {
	color: #004681;
	background-color: #cce0ff;
}

.main-head {
	padding: 0;
	margin: 0;
}
.top-line {text-align: right;}
.top-line li a {
	color: #d06059;
	padding: 0 20px;
}
.top-line ul {padding: 20px 0 20px;}
.top-line ul li {}
.top-line li {display: inline-block;}
.left-mnu {text-align: left;}
.left-mnu ul li a {
	color: #d06059;
}
.left-mnu a:hover {
	color: #000;
}
.left-mnu ul li a:active {
	color: #000;
}
.left-mnu ul {padding: 0;}
.left-mnu ul li {margin-bottom: 15px; margin-left: 15px}
.left-mnu li {}
.main-mnu li a{
	font-weight: bold;
}
.sub-menu li a{
	font-weight: normal;
}
.slider-wrap .slider-nav-cont {
}
.slider-wrap .slider-nav {
	color: #fff;
	font-size: 36px;
	position: absolute;
	width: 100%;
	z-index: 2;
}

.slider-wrap .slider-nav div {
	top: 140px;
	cursor: pointer;
	position: absolute;
}
.slider-wrap .slider-nav div:last-child {
	right: 60px;
}

.slider {
	position: absolute;
	top: 0;
	width: 100%;
}
.slider .slide-wrap {
	float: left;
}
.slider .slide {
	padding-top: 270px;
	padding-bottom: 50px;
	position: relative;
}
.slide .slide-bg{
	background-image: url("../images/slider/1.jpg");
	-webkit-background-size: cover;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.slide .slide-bg .slide-content{
	padding-top: 90px;
	position: relative;
	z-index: 1;
}

.slide-cont h2, h1, a{
	text-align: center;
	color: #fff;
}
.slide-cont h2, h1 {
	font-weight: bold;
}
.slide-cont h1 {
	margin-top: 0;
}
.slide-link {
	text-align: center;
	margin: 15px 0;
}
.slide-link a {
	text-decoration: underline;
}
.slide-link a:hover {
	color: #fff;
	text-decoration: none;
}

.search-banner {
	margin-top: 1px;
	background: #004681;
}
.search-title h1{
	margin: 20px;
}
.search-title h1 {
	font-size: 14px;
}
.title-left h1 {
	color: #fff;
}
.title-right {
	background-color: #98AFC7;
}
.title-right h1 {
	color: #004681;
}
.input-wrap {
	display: inline-block;
	position: relative;
}
.search-input{
	margin: 25px 0;
}
.search-inpute{
}
.input-button{
	position: absolute;
	//right: 0;
}

.status.sold{background:rgba(104,167,13,0.8);}
.status.new{background:rgba(190,7,46,0.8);}

.recommended{position: relative;}
.recommended .carousel-indicators{position: absolute;text-align: left;left: 0;bottom: -40px;margin: 0;}
.recommended .carousel-indicators li{border: 1px solid #888;}
.recommended .carousel-indicators .active{background-color:#ccc; }
.recommended p{margin: 5px 0 10px 0;}


.modal-content{padding: 20px;}
.login .form-group input{padding: 10px; height: 50px;}

.register input{padding: 10px; height: 50px;}
.contact input{padding: 10px; height: 50px;}
.register input,.register textarea,.contact input,.contact textarea{ margin-bottom: 15px;}
.login button,.register button,.contact button{width: 100%;border-radius: 5px;}

/*inside*/
.inside-banner{background:url(../images/bginside.jpg)/*tpa=http://thebootstrapthemes.com/live/thebootstrapthemes-realestate/images/bginside.jpg*/ #222;color: #fff; padding: 30px 0;}
.inside-banner h2{margin: 0; color: #fff;}
.inside-banner span{margin-top: 10px;}

.search-form {margin-bottom: 50px;}
.search-form h4{margin: 17px 0;}


.hot-properties {margin-bottom: 50px;}
.hot-properties img{width: 68px; height: 68px;}
.hot-properties h4{margin-bottom: 20px;}
.hot-properties .row{margin-bottom: 20px;}
.hot-properties .row p{margin-bottom: 5px;}

.sortby .result{margin-top: 10px;}

.property-info{margin:0 0 30px 0;}
.property-info span{margin-right: 5px;}
.property-info p{margin-bottom:10px; }
.property-info p.price{font-size: 28px;color: #72b70f;padding:0;border-radius: 5px;}
.property-info .profile{margin-top: 30px;}
.property-info .profile p{padding-left: 20px; color: #999;}

.enquiry input,.enquiry textarea{margin-bottom: 10px;}
.enquiry button{border-radius: 5px;}

.blog .info{color: #999;margin-bottom: 10px;font-size: 12px;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{background-color: #72b70f;border-radius: 0;color: #fff;border: none;}
.blog .tabbable .tab-content ul li{margin: 15px 0;}
.blog .row{margin-bottom: 50px;}

.agents .row{margin-bottom:40px; }
.agents .row h4{margin: 0;}


.footer a {
	color: #346289;
	padding: 0 10px;
}
.footer p {
	opacity: 38%;
	padding-right: 60px;
}



@media (max-width: 600px) {
.header{text-align: center;}
.header ul{width: 100%;margin-bottom: 20px;}
.header ul li{padding: 0 20px;}
h1{font-size: 40px;}
h2{font-size: 25px;}
.login {margin-bottom: 40px;}
.searchbar button{margin-bottom: 40px;}
.footer .col-sm-3{margin-bottom: 30px;}
.agents img{ margin-bottom: 20px;}
}