body {	
	color:#000;	font-family: 'Roboto', sans-serif;
}
ul li {list-style-type: none; margin: 0; padding: 0;}


.mhead {
}
.main-head {
	padding-top: 35px;
	width: max-width;
	margin: 0 auto;
}
.off-head {
	width: 873px;
	float: left;
}
.mnu-head {
	width: 567px;
	float: left;
}
.top-mnu {
	font-size: 14px;
}
.top-mnu ul li {
	display: inline-block;
	padding: 0 11px;
}
.top-mnu a {
	font-size: 14px;
	color: #d06059;
}
hr.redline {
	border-top: 4px solid #d8271b;
}
hr.blueline {
	border-top: 4px solid #004681;
}
.logo-wrap {
	width: max-width;
}
.logos {
	position: relative;
}
.mainlogo {
	position: absolute;
	height: 127px;
	width: 192px;
	top: -21px;
	left: -30px;
	z-index: 1;
}
.lw-left {
	width: 242px;
	float: left;
}
.lw-right {
	width: 1198px;
	float: left;
}
.header-wrap {
	margin-top: 100px;
}
.sidebar {
	padding-left: 21px;
}
.sidebar-mnu ul {
	padding: 0;
}
.sidebar-mnu a {
	font-size: 18px;
	color: #d8271b;
	font-weight: bold;
	text-decoration: underline;
	padding: 5px 0;
}
.sidebar-mnu a:hover {
	color: #000;
	text-decoration: none;
}
.sidebar-mnu a:active {
	color: #000;
	text-decoration: none;
}
.call p {
	font-size: 14px;
	color: #4a4a4a;
	padding-top: 50px;
	line-height: 19px;
	padding-bottom: 7px;
	margin: 0;
}
.call h1 {
	font-weight: bold;
	font-size: 18px;
	color: #4a4a4a;
	margin: 0;
}
.slider-wrap {
	margin: 0;
	padding: 0;
}
.slider-wrap img {
	width: 100%;
}
.search-wrap {
	margin-top: 1px;
	background-color: #004681;
	text-align: center;
	color: #fff;
}
.search-wrap h1 {
	line-height: 48px;
	margin: 0;
	font-weight: bold;
	font-size: 24px;
	padding: 35px 0;
}
.searchbar {
	width: 70%;
	outline: none;
	border: 1px solid #fff;
	height: 70px;
	font-size: 20px;
	line-height: 28px;
	margin: 0;
	padding-left: 20px;
  box-shadow: inset 0 3px 10px 0 rgba(0, 0, 0, 0.31);
}
}
input [type="text"] {
	font-size: 24px;
	color: #9b9b9b;
}
.searchbtn {
	outline: none;
	background-color: #004681;
	color: #fff;
	border: 8px solid #fff;
	height: 70px;
	width: 169px;
	font-size: 20px;
	line-height: 28px;
	padding: 10px 0;
	box-shadow: inset 0 3px 10px 0 rgba(0, 0, 0, 0.31);
}
.hints {
	margin-top: 50px;
	padding-bottom: 50px;
}
.hints p {
	font-size: 14px;
	display: inline;
	opacity: 0.3;
	padding: 0 9px;
}
.content-wrap {
	margin-top: 90px;
}
.content-icon {
	text-align: center;
	padding-left: 50px;
}
.content-icon a {
	font-weight: bold;
	line-height: 23px;
	font-size: 18px;
	text-decoration: underline;
	color: #004681;
}
.content-icon img {
	margin-bottom: 10px;
}
.divi1-wrap {
	float: left;
	margin-right: 39px;
	width: 190px;
}
.divi2-wrap {
	float: left;
	margin: 0 39px;
	width: 190px;
}
.divi3-wrap {
	float: left;
	margin-left: 39px;
	width: 190px;
}
.app-wrap {
	margin-top: 110px;
}
.app-online	{
	padding-top: 29px;
	padding-left: 45px;
	background-color: #e5e5e5;
	height: 481px;
	margin-right: 11px;
}
.app-wrap	h1 {
	padding-bottom: 20px;
	font-weight: bold;
	font-size: 24px;
	line-height: 35px;
	margin: 0;

}
.ao-links a {
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	color: #d8271b;
	display: block;
	padding: 12px 0;
}
.app-download	{
	margin-left: 11px;
	padding-top: 29px;
	padding-left: 45px;
	background-color: #e5e5e5;
	height: 481px;
	padding-right: 35px;
}
.ad-links a {
	font-size: 14px;
	line-height: 20px;
	color: #346289;
	display: block;
	padding: 10px 0;
}
.ad-links img {
	padding-right: 10px;
}
.fa-red {
	color: #d8271b;
}
.footer {
	margin: 60px 0;
}
.copyright {
	float: left;
}
.copyright p {
	font-size: 12px;
	line-height: 24px;
	opacity: 0.4;
}
.useterm {
	float: right;
}
.useterm a {
	font-size: 14px;
	line-height: 24px;
	color: #346289;
	display: inline;
	padding-left: 10px;
}
/*
.tabs {
  margin: 0 0 10px;
}
.tabs__caption {
	padding-left: 0;
  line-height: 25px;
  list-style: none;
  background: #FFF;
}
.tabs__caption li {
  float: left;
  display: inline;
  margin: 0 5px 4px 0;
  padding-top: 5px;
  color: #777;
  cursor: pointer;
  background: #F9F9F9;
  border: 3px solid #E4E4E4;
  border-bottom: 3px solid #F9F9F9;
  position: relative;
}
.tabs__caption li:hover,
.vertical .tabs__caption li:hover {
  color: #F70;
  background: #FFFFDF;
}
.tabs__caption .active {
  color: #444;
  background: #EFEFEF;
  border: 3px solid #d8271b;
}
.cert-slide-wrap h1 {
	margin: 30px 0 30px 0;
	font-size: 24px;
	line-height: 42px;
}
.cert-slide-wrap img {
	width: 100px;
	height: 142px;
}
.tabs__content {
  display: none;
  padding: 0 12px;
}
.tabs__content.active {
  display: block;
}
.tabs__content h1 {
	font-size: 36px;
	line-height: 42px;
	margin: 0 0 30px 0;
}
.tabs__content img {
	margin-bottom: 35px;
}
.tabs.vertical {
  width: 440px;
  border-left: 160px solid #FFF;
}
.vertical .tabs__caption {
  width: 160px;
  float: left;
  display: inline;
  margin: 0 0 0 -160px;
}
.vertical .tabs__caption li {
  padding: 0 13px;
  margin: 0 0 1px;
  border: 1px solid #E4E4E4;
  border-right: 1px solid #F9F9F9;
  width: 132px;
  height: 25px;
}
.vertical .tabs__caption li:hover {
  width: 131px;
}
.vertical .tabs__caption .active {
  width: 133px;
  color: #444;
  background: #EFEFEF;
  border: 1px solid #D4D4D4;
  border-right: 1px solid #EFEFEF;
  margin-right: -1px;
}
.vertical .tabs__content {
  border-width: 1px;
}
*/


.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding: 0;
}
.row {
	margin: 0;
}

@media screen and (max-width:1439px) {
	.main-head {
		width: 100%;
	}
	.off-head {
		width: 60%;
	}
	.mnu-head {
		width: 40%;
	}
	.logo-wrap {
		width: 100%;
	}
	.lw-left {
		width: 20%;
	}
	.lw-right {
		width: 80%;
	}
}
@media screen and (max-width:1200px) {
	.logo-wrap {
		width: 100%;
	}
	.main-head {
		width: 100%;
		padding-top: 22px;
	}	
	.off-head {
		width: 50%;
	}
	.mnu-head {
		width: 50%;
	}
	.menuicon1 {
		width: 13px;
		height: 12px;
	}
	.menuicon3 {
		width: 16px;
		height: 12px;
	}
	.menuicon2 {
		width: 12px;
		height: 12px;
	}
	.content-icon {
		padding-left: 30px;
	}
	.content-wrap {
		margin-top: 60px;
	}
	.content-wrap .container {
		width: 900px;
	}
	.divi1-wrap {
		margin-right: 20px;
	}
	.divi2-wrap {
		margin: 0 20px;
	}
	.divi2-wrap {
		margin-left: 20px;
	}
	.app-wrap {
		margin-top: 70px;
	}
	.app-wrap h1 {
		padding-bottom: 15px;
		line-height: 1;
	}
	.ad-links img {
		height: 18px;
	}

}
@media screen and (max-width:992px) {
	.main-head {
		padding-top: 22px;
	}	
	.off-head {
		width: 45%;
	}
	.mnu-head {
		width: 55%;
	}
	.header-wrap {
		margin-top: 70px;
	}
	.sidebar-mnu a {
		font-size: 14px;
	}
	.call p {
		padding-top: 15px;
		font-size: 12px;
	}
	.call h1 {
		font-size: 14px;
	}
	.search-wrap h1 {
		font-size: 18px;
		line-height: 30px;
		padding: 20px 0;
	}
	.searchbar {
		height: 60px;
		width: 55%;
		font-size: 16px;
	}
	.searchbtn {
		height: 60px;
		border: 4px solid #fff;
		font-size: 16px;
	}
	.hints {
		margin-top: 35px;
		padding: 0 20px 35px 20px;
	}
	.content-icon a {
		font-size: 14px;
	}
	.app-wrap	h1 {
		font-size: 20px;
		padding-bottom: 14px;
	}
	.app-online {
		padding-top: 18px;
		padding-left: 28px;
	}
	.app-download {
		padding-top: 18px;
		padding-left: 28px;
	}
	.footer {
		35px 0;
	}
}
@media screen and (max-width:768px) {
	.main-head {
		padding-top: 15px;
	}	
	.off-head {
		width: 32%;
	}
	.mnu-head {
		width: 68%;
	}
	.mainlogo {
		height: 93px;
		width: 150px;
		top: -10px;
	}
	hr.redline {
    border-top: 3px solid #d8271b;
	}
	hr.blueline {
    border-top: 3px solid #004681;
	}
	.search-wrap h1 {
    font-size: 14px;
    line-height: 15px;
    padding: 15px 0;
	}
	.searchbtn {
    height: 40px;
    border: 2px solid #fff;
    font-size: 14px;
    width: 90px;
    padding: 4px 0;
	}
	.searchbar {
    height: 40px;
    font-size: 14px;
    line-height: 22px;
	}
	.content-icon {
		padding-left: 20px;
	}
	.content-icon img {
		width: 100%;
	}
	.hints {
		margin-top: 20px;
		padding-bottom: 15px;
	}
	.hints p {
		font-size: 10px;
		padding: 0 6px;
	}
	.content-wrap {
		margin-top: 30px;
	}
	.content-wrap .container {
    width: 576px;
	}
	.divi1-wrap {
		margin-right: 10px;
		width: 27%;
	}
	.divi2-wrap {
		margin-right: 10px;
		width: 27%;
	}
	.divi3-wrap {
		margin-right: 10px;
		width: 27%;
	}
	.app-wrap {
		margin-top: 40px;
	}
	.app-wrap h1 {
		font-size: 14px;
		padding-bottom: 8px;
	}
	.ao-links a {
		font-size: 12px;
		padding: 8px 0;
	}
	.ad-links a {
		font-size: 10px;
		padding: 4px 0;
	}
	.app-online	{
		height: 400px;
	}
	.app-download {
		height: 400px;
	}
	.footer {
		margin: 25px 0;
	}
	.useterm a {
		font-size: 10px;
	}
	.copyright p {
		font-size: 8px;
	}
}
@media screen and (max-width:480px) {
	.main-head {
		padding-top: 8px;
	}	
	.off-head {
		width: 0%;
	}
	.mnu-head {
		width: 100%;
	}
	.header-wrap {
    margin-top: 50px;
	}
	.top-mnu {
		text-align: center;
	}
	.top-mnu ul {
		padding-left: 0;
	}
	.searchbar {
		font-size: 12px;
	}
	.searchbtn {
		font-size: 12px;
	}
	.sidebar {
		text-align: center;
		padding-top: 10px;
	}
	.content-wrap .container {
		width: 480px;
	}
	.content-icon {
		padding-left: 0;
	}
	.content-icon a {
		font-size: 12px;
	}
	.divi1-wrap {
		margin-right: 6px;
	}
	.divi2-wrap {
		margin-right: 6px;
	}
	.divi3-wrap {
		margin-right: 6px;
	}
	.app-online {
		margin: 0 0 5px 0;	
		height: 200px;
	}
	.app-download {
		margin: 0;
		height: 280px;
	}
	.app-wrap h1 {
		text-align: center;
	}
}
@media screen and (max-width:320px) {
	.main-head {
		display: none;
	}
	.logo-wrap {
		margin-top: 20px;
	}
	.search-wrap h1 {
		font-size: 12px;
		line-height: 10px;
		padding: 10px 0;
	}
	.hints p {
		display: inline-block;
	}
	.content-wrap .container {
    width: 320px;
	}
	.divi1-wrap {
		margin-right: 5px;
		width: 30%;
	}
	.divi2-wrap {
		margin: 5px;
		width: 30%;
	}
	.divi3-wrap {
		margin-left: 5px;
		width: 30%;
	}
	.content-icon a {
		font-size: 10px;
		line-height: 0.5;
	}
	.app-wrap h1 {
		font-size: 12px;
		padding-bottom: 2px;
	}
	.app-online {
		padding-top: 5px;
		height: 140px;
	}
	.ao-links a {
		font-size: 12px;
		line-height: 0;
		padding: 8px 0;
	}
	.app-download {
		padding-top: 5px;
		height: 240px;
	}
	.ad-links a {
		line-height: 12px;
	}
	.ad-links img {
		width: 28px;
		height: 12px;
		padding-right: 5px;
	}
	.useterm a {
		display: inline-block;
	}
	.searchbar {
		font-size: 10px;
		line-height: 1;
		padding-left: 5px;
	}
	.searchbtn {
		font-size: 10px;
		width: 60px;
		padding: 1px 0;
	}
	.hints {
		margin-top: 10px;
		padding-bottom: 8px;
	}
}

