
.search-wrap {
	margin-bottom: 20px;
	text-align: center;
	background-color: #004681;
	color: #fff;
	padding-bottom: 20px;
}
.search-wrap p {
	font-size: 20px;
	}
p {
	margin: 0;
	padding-top: 20px;
}
.searchbar {
	margin: 20px 0;
	width: 60%;
	padding: 10px;
	outline: none;
	border: 1px solid #fff;
}
.searchbtn {
	height: 42px;
	padding: 9px;
	outline: none;
	background-color: #004681;
	color: #fff;
	border: 2px solid #fff;
}
.hints p {
	font-size: 12px;
	display: inline;
	padding: 20px 0;
	opacity: 0.3;
}
.fa {
	color: #004681;
	background-color: #fff;
	border-radius: 50%;
}
.tooltip {
      position: fixed;
      padding: 10px 20px;
      /* красивости... */

      border: 1px solid #b3c9ce;
      border-radius: 4px;
      text-align: center;
      font: italic 14px/1.3 arial, sans-serif;
      color: #333;
      background: #fff;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
    }
@font-face {
        font-family:FontAwesome;
        src:url(https://netdna.bootstrapcdn.com/font-awesome/2.0/font//fontawesome-webfont.eot?#iefix) format('eot'),
        url(https://netdna.bootstrapcdn.com/font-awesome/2.0/font//fontawesome-webfont.woff) format('woff'),
        url(https://netdna.bootstrapcdn.com/font-awesome/2.0/font//fontawesome-webfont.ttf) format('truetype'),
        url(https://netdna.bootstrapcdn.com/font-awesome/2.0/font//fontawesome-webfont.svg#FontAwesome) format('svg');
}

li {list-style: none;display: block !important;padding: 5px 0;}
a {text-decoration: none;padding-left: 5px;}

.fa-plus:before {
    font-family: 'FontAwesome';
    content: "\f067";
}
.fa-minus:before {
    font-family: 'FontAwesome';
    content: "\f068";
}
